---
email: anonymous@testdomain.org
env_runtime: linux-desktop
git_repository: https://github.com/the-t-in-rtf/gpii-binder.git

apps:
  - app_name: gpii-binder
    app_start_service: false
    software_stack: nodejs
    #software_stack_version: lts
    run_in: fedora
    setup:
      - npm install
    commands:
      - npm test
    publishers:
      - cobertura:
        report-file: "coverage/cobertura-coverage.xml"

